#navbar .dropdown-header {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#menuUser,
#carrito {
    margin: 0 10%;
}

#marcaImg {
    margin-right: 5%;
}
#login {
    margin-top: 10px;
    margin-left: 10px;
}

#btncerrar{
    margin-top: -30px;
    margin-left: 370px;
}

#mss{
    margin-top: -8px;
}