#productos-buscar-container,
#productos-crear-container{
    margin-bottom: 4%;
    margin-top: 50px;
}
#productos-container {
    margin-top: 100px;
}
.react-bs-table-sizePerPage-dropdown .dropdown-toggle {
    float: left;
    margin-bottom: 20px;
}

.search-label {
    float: right;
    padding-bottom: 10px;
}

.sr-only {
    font-size: 0;
}

#productos-crear-container .form-label{
    float: left;
    margin-bottom: 20px;
}

#productos-crear-container .btn{
    margin-top: 5%;
}